        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">{{contentJSON.head.title-nav}}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header>
        <div class="m-3 p-3 jumbotron jumbotron-fluid">
            </br></br></br>
            <div class="container">
                <h1 class="display-4">{{contentJSON.head.title}}</h1>
                <p class="lead">{{contentJSON.head.title-desc}}</p>
            </div>
        </div>

            {{!-- <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold"></h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5"></p>
                    </div>
                </div>
            </div> --}}
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h1 class="text-dark mb-4">{{contentJSON.about.aboutme}}:</h1>
                        <h2 class="text-dark mb-4">Quote of the Day:</h2>
                        <h2 class="text-dark mt-0">{{contentJSON.about.motto}}</h2>
                        <hr class="divider divider-light" />
                        
                        <h3 class="text-dark mb-4">Education</h3>
                        <ul class="text-body" style="list-style-type:none">
                            {{#each contentJSON.about.school as |school|}}
                                <li>{{school}}</li>
                            {{/each}}
                        </ul>
                        <h3 class="text-dark mb-4">Experience</h3>
                        <ul class="text-body" style="list-style-type:none">
                            {{#each contentJSON.about.experience as |work|}}
                                <li>{{work}}</li>
                            {{/each}}
                        </ul>
                        <a class="btn btn-light btn-xl" target="_break" href="{{contentJSON.about.resume}}">View Resume!</a>
                        <div id="social-links" class="d-flex flex-row justify-content-center flex-wrap m-3">
                            {{#each contentJSON.about.social as |social|}}
                                <a target="_break" href="{{social.url}}"><i class="fab fa-{{social.name}}" aria-hidden="true"></i></a>
                            {{/each}}
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">{{contentJSON.services.title}}</h2>
                <hr class="divider" />
                <div class="d-flex flex-row justify-content-center flex-wrap">
                    {{#each contentJSON.services.serviceList as |service|}}
                    <div class="col-lg-3 col-md-6 text-center p-3">
                        <div class="mt-5">
                            <div class="mb-2">{{{service.icon}}}</div>
                            <h3 class="h4 mb-2">{{service.title}}</h3>
                            <p class="text-muted mb-0">{{service.description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="d-flex flex-row justify-content-center flex-wrap">
                    {{#each contentJSON.portfolio.projectList as |project|}}
                    <div class="card m-3" style="width: 24rem;">
                        <a class="portfolio-box" href="/img/portfolio/fullsize/{{project.image}}">
                            <img class="card-img-top" src="/img/portfolio/thumbnails/{{project.image}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{project.name}}</h5>
                            <a target="_break" href="{{project.url}}" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">{{contentJSON.contact.title}}</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">{{contenJSON.description}}</p>
                    </div>
                </div>
                
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Firstname *</label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_lastname">Lastname *</label> <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required."> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Email *</label> <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{!-- <div class="form-group"> <label for="form_need">Please specify your need *</label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                                <option value="" selected disabled>--Select Your Issue--</option>
                                                <option></option>
                                                <option>Request order status</option>
                                                <option>Haven't received cashback yet</option>
                                                <option>Other</option>
                                            </select> </div>
                                    </div> --}}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message">Message *</label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-send pt-2 btn-block " value="Send Message"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+1 (760) 902-7499</div>
                        <div>lukeajcole@gmail.com</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
